* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    height: 100vh;
    display: grid;
    grid-template:
      'header     header    header      header' auto
      'left-menu  main      right-menu  shortcuts' 1fr
      'footer     footer    footer      footer' auto / 
      auto        1fr       auto        auto;
  }
  
.header {
    grid-area: header;
    background-color: white;
    display: grid;
    padding-left: 5px;
    border: 3px solid  black;
}

.logos{
    display: grid;
    grid-template-columns: 250px 1fr 173px;
}

.right-icons{
    margin-left: 30px
}

.the-input{
    height: 45;
    padding-right: 80px;
    place-content: center;
}


.gmail-logo{
    height: 45px;  
}

a{
    color: black;
    text-decoration: none;
}
  
  .left-menu {
    grid-area: left-menu;
    background-color: #fff;
    padding: 1rem;
    border: 3px solid  black;
    display: grid;
    grid-template-rows: 1fr 500px ;
  }
  .left-menu a{
    background-color: #fff;
    text-align: center;
    color: black;
    display: block;
    padding: 12px;
    border: 2px  #fff;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px rgb(179, 176, 176);
  }
  
  .main {
    grid-area: main;
    background-color: #fff;
    padding: 1rem;
    border: 3px solid  black;
    overflow: scroll;
    display: grid;
    grid-gap: 4px;
  }
  .main p{
      border: 2px solid #fff;
      box-shadow: 2px 2px 2px 2px rgb(179, 176, 176);
      padding:5px ;
  }
  
  .right-menu {
    grid-area: right-menu;
    background-color: #fff;
    padding: 1rem;
    border: 3px solid  black;
  }
  .right-menu-image{
      height: 80%
  }
  
  .footer {
    grid-area: footer;
    background-color: white;
    padding: 1rem;
    border: 3px solid  black;
  }
  @media screen and (max-width: 800px){
      .container{
        grid-template:
        'header     header    header      ' auto
        'left-menu  main      right-menu  ' 1fr
        'footer     footer    footer      ' auto / 
        auto        1fr       auto        ;
      }
      .shortcuts{
          display: none;
      }
  }

  @media screen and (max-width: 700px) {
    .container {
      grid-template:
        'header     header' auto
        'left-menu  main' 1fr
        'footer     footer' auto /
        auto 1fr;
    }
  
    .right-menu {
      display: none;
    }
  }
  
  @media screen and (max-width: 400px) {
    .container {
      grid-template:
        'main' 1fr
        'footer' auto /
        1fr;
    }
  
    .left-menu {
      display: none;
    }
  
    .header {
      display: none;
    }
  }
.buttons a{
    text-align: center;
    width: 150px;
    height: 30px;
    border: 5px;
    padding: 20px;
    border-radius: 20%;
    margin: 0px 20px;
    box-shadow: 2px 2px 2px 2px rgb(179, 176, 176);
}
.buttons{
    margin: 15px;
    display: inline-block;
}
.scroller{
    border: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
